CompileFlags:
  Add:
    - -I./denv/linux-6.15.8/include
    - -I./denv/linux-6.15.8/arch/x86/include
    - -I./denv/linux-6.15.8/arch/x86/include/generated
    - -I./denv/linux-6.15.8/include/generated
    - -I.
    - -D__KERNEL__
    - -DMODULE
    - -D__GPL__
