*

# Directories
!denv
!res
!src
!tests

# Files
!src/xstrike.c
!src/xstrike.h
!src/xstrike_ioctl.h
!src/xstrike_types.h
!src/regex.h
!src/regex.c
!tests/test.rs
!tests/test.c
!denv/gdb.patch
!denv/init
!Makefile
!build.sh
!debug.sh
!.gitignore
!.clangd
!README.md
